@charset "UTF-8";

body{
  margin: 0;
}

header{
  width: 400px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
}

.box{
  position: relative;
  background-color: #fff;
}

.purple-box1{
  margin-left: 180px;
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: left;
  position: absolute; top: 20px; left: 20px;
  border: 10px solid #ffffff;
}

.purple-box2{
  margin-left: 230px;
  background-color: #a9004b;
  width: 40px;height: 40px;
  float: center;
  position: absolute; top: 20px; left: 20px;
  border: 10px solid #ffffff;
}

.purple-box3{
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: light;
  position: absolute; top: 20px; left: 20px;
  margin-left: 280px;
  border: 10px solid #ffffff;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.green-box{
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}

.beside{
  float: left;
  width: 250px;
  height: 250px;
  margin: 0;
  background-color: #8c2727;
}

.beside-topclearfix::after{
  content: "";
  display: block;
  clear: both;
}

.beside-left{
  float: right;
  width: 250px;
}


.orange-box1{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  margin: 40px 40px 5px 40px;
  border: 5px solid #ffffff;
}

.orange-box2{
  margin: 5px 40px 5px 40px;
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffffff;
}

.orange-box3{
  margin: 5px 40px 40px 40px;
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffffff;
}

.footer{
  width: 400px;
  height: 100px;
  background-color: #ffd000;
  position: relative;
  bottom: 0px;
}