@charset "UTF-8";

body{
  margin: 0;
}

header{
  width: 400px;
  height: 100px;
  background-color: #ff0000;
  overflow: hidden;
}

.box{
  background-color: #fff;
  position: relative;
  top: 20px;
  left:20px;
  padding: 0;
}

.purple-box1{
  background-color: #a9004b;
  position: absolute;
  margin-left: 180px;
  width: 40px; height: 40px;
  float: left;
  padding:10px,0px,10px,0px;
  border: 10px solid #ffffff;
}

.purple-box2{
  background-color: #a9004b;
  position: absolute;
  margin-left: 230px;
  width: 40px;height: 40px;
  float: center;
  padding:10px,0px,10px,0px;
  border: 10px solid #ffffff;
}

.purple-box3{
  background-color: #a9004b;
  position: absolute;
  width: 40px;height: 40px;
  float: light;
  margin-left: 280px;
  padding:10px,0px,10px,0px;
  border: 10px solid #ffffff;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.green-box{
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}

.beside{
  float: left;
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  position: relative;
}

.beside-left{
  float: left;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin:auto;
}

.orange-box1{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffffff;
  margin-top: 40px;
  margin-bottom: 20px;
}

.orange-box2{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.orange-box3{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #ffffff;
  margin-top: 20px;
  margin-bottom:20px;
}

.footer{
  width: 400px;
  height: 100px;
  background-color: #ffd000;
  position: relative;
  bottom: 0px;
}